<div class="boss-my-box">
  <div class="boss-my-header-box">
    <div class="boss-my-header-tag">
      <i class="iconfont icon-saoyisao" (click)="onSaoYiSao()"></i>
      <i class="iconfont icon-shezhi" (click)="onSet()"></i>
    </div>
    <div class="boss-my-header">
      <div class="boss-my-header-user">
        <div class="fl">
          <div class="boss-my-header-user-title">廖丽琼</div>
          <div>
            <i class="iconfont icon-edit"></i>我的在线简历
          </div>
        </div>
        <app-head-photo class="fr" [width]="60" [imgUrl]="'../../../assets/img/timg.jpg'" (click)="onHeadImgClick()"></app-head-photo>
      </div>
      <div class="boss-my-header-desc">
        <div>
          <div class="boss-my-header-desc-num">433</div>
          <div>沟通过</div>
        </div>
        <div>
          <div class="boss-my-header-desc-num">2</div>
          <div>面试</div>
        </div>
        <div>
          <div class="boss-my-header-desc-num">10000</div>
          <div>已投简历</div>
        </div>
        <div>
          <div class="boss-my-header-desc-num">20</div>
          <div>收藏</div>
        </div>
      </div>
      <div class="boss-my-header-adv">
        <img alt="vip" src="../../../../../assets/img/vip.jpg" />
      </div>
    </div>
    <div class="boss-my-content">
      <div class="boss-my-content-diagnosis">
        <div class="boss-my-content-diagnosis-title">您的简历有2个待优化项</div>
        <div class="boss-my-content-diagnosis-desc">智能诊断发现简历缺陷，已经影响到您的求职效率，请尽快完善。</div>
        <div class="boss-my-content-diagnosis-btn">
          <div class="fl">稍后处理</div>
          <div class="fr">查看诊断结果</div>
        </div>
      </div>
      <div class="boss-my-content-other">
        <div class="boss-my-content-other-title fl">求职助手</div>
        <div class="fr">其他/钱包 ></div>
      </div>
      <div class="boss-my-content-tag">
        <div class="boss-my-content-tag-line fl">
          <div class="fl">
            <div class="boss-my-content-tag-line-title">简历刷新</div>
            <div>提升简历活跃</div>
          </div>
          <div class="fr">
            <i class="iconfont icon-jianli-A"></i>
          </div>
        </div>
        <div class="boss-my-content-tag-line fr">
          <div class="fl">
            <div class="boss-my-content-tag-line-title">竞争力分析</div>
            <div>洞悉职业竞争</div>
          </div>
          <div class="fr">
            <i class="iconfont icon-fenxi"></i>
          </div>
        </div>
      </div>
      <div class="boss-my-content-cell-box">
        <div class="boss-my-content-cell">
          <div class="fl">
            <i class="iconfont icon-fujian"></i><span>附件简历</span>
          </div>
          <div class="fr boss-my-content-cell-desc">已上传1份 ></div>
        </div>
        <div class="boss-my-content-cell">
          <div class="fl">
            <i class="iconfont icon-tianjia"></i><span>管理求职意向</span>
          </div>
          <div class="fr boss-my-content-cell-desc">离职-随时到岗 ></div>
        </div>
        <div class="boss-my-content-cell">
          <div class="fl">
            <i class="iconfont icon-weimingmingwenjianjia_zhuye"></i><span>个人主页</span>
          </div>
          <div class="fr boss-my-content-cell-desc">></div>
        </div>

        <div class="boss-my-content-cell">
          <div class="fl">
            <i class="iconfont icon-pengyouquan"></i><span>我的圈子</span>
          </div>
          <div class="fr boss-my-content-cell-desc">></div>
        </div>
        <div class="boss-my-content-cell">
          <div class="fl">
            <i class="iconfont icon-wenda"></i><span>牛人问答</span>
          </div>
          <div class="fr boss-my-content-cell-desc">></div>
        </div>
        <div class="boss-my-content-cell">
          <div class="fl">
            <i class="iconfont icon-chaxun"></i><span>薪酬查询</span>
          </div>
          <div class="fr boss-my-content-cell-desc">></div>
        </div>
        <div class="boss-my-content-cell">
          <div class="fl">
            <i class="iconfont icon-help"></i><span>帮助与反馈</span>
          </div>
          <div class="fr boss-my-content-cell-desc">></div>
        </div>
        <div class="boss-my-content-cell">
          <div class="fl">
            <i class="iconfont icon-custom-service"></i><span>我的客服</span>
          </div>
          <div class="fr boss-my-content-cell-desc">></div>
        </div>
        <div class="boss-my-content-cell">
          <div class="fl">
            <i class="iconfont icon-anquanweigui"></i><span>违规账号处理公告</span>
          </div>
          <div class="fr boss-my-content-cell-desc">></div>
        </div>
        <div class="boss-my-content-cell">
          <div class="fl">
            <i class="iconfont icon-guanyu"></i><span>关于</span>
          </div>
          <div class="fr boss-my-content-cell-desc">></div>
        </div>
      </div>
    </div>
  </div>
</div>
