<div class="boss-works-box">
  <NoticeBar
    *ngIf="!isMobile"
    [option]="{ content: '该组件只支持Touch事件，请使用移动模式/设备打开此页。', marqueeProps: { fps: 100 } }"
  ></NoticeBar>
  <PullToRefresh
    [ngStyle]="dtPullToRefreshStyle"
    [direction]="state.direction"
    [(ngModel)]="state.refreshState"
    [endReachedRefresh]="state.endReachedRefresh"
    (onRefresh)="pullToRefresh($event)"
  >
    <ng-content></ng-content>
  </PullToRefresh>

  <ng-template #loading>
    <Icon type="loading"></Icon>
  </ng-template>
</div>
