.boss-login-step2-box{
  width: 90vw;
  margin: 0 auto;
  color: #afafaf;
  .boss-login-step2-name{
    margin: 5vw 0;
    color: #333333;
    font-size: 8vw;
  }
  .boss-login-step2-title{
    font-size: 4vw;
    color: #707070;
  }
  .boss-login-step2-send{
    text-align: center;
    margin: 5vw 0;
  }
  .boss-login-step2-btn{
    width: 100%;
    background-color: #9ce0df;
    color: white;
    margin-bottom: 5vw;
  }
}
